services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - '3000:3000'
    env_file:
      - .env.production.local
    restart: unless-stopped
